################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
./docker-compose.yaml
docker-compose.yaml
./jq.exe
*/bin
*/obj
*/.vs
init-user-db.sh
